@import "../../scss/index.scss";

.personal-navbar{
    background-color: $navbar-color;
    color:$font-color;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: space-between;
    font-size: $small-font-size;
    &__padlock-icon {
        display: flex;
        margin: 10px 0 0 20px;
        width: 250px;
        height: 50px;

        .icon-name{
            margin-top: 5px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row ;


        ul {
            
            li{
                margin: 0 10px 0 10px;
                display: inline;
                a {
                    color:$font-color;
                    text-decoration: none;
                }
            }
        }
        &__session, &__social {
            margin-right: 20px;
        }
        
    }
}