@import "../../scss/index.scss";

.navbar{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: space-between;
    font-size: $small-font-size;
    &__padlock-icon {
        display: flex;
        margin: 10px 0 0 20px;
        width: 50px;
        height: 50px;

        .icon-name{
            margin-top: 15px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row ;
        ul {
            
            li{
                margin: 0 10px 0 10px;
                display: inline;
                a {
                    color:$font-color;
                }
            }
        }
        &__session {
            margin-right: 20px;
        }
        
    }
}