@import '../../../scss/index.scss';

.register_component {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form_field{
        // font-size: $normal-font-size;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            width: auto;
            height: 100%;
        }
        button {
            margin: 50px 0 0 20px;
            background-color: $button-primary;
            border-radius: 5%;
            color: $font-color;
            width: 150px;
            height: 40px;
            top:220px;
            right:24px;
        }
    }
    p {
        font-size:$small-font-size ;
        span {
            
            color: $font-color;
            text-decoration: underline;
            &:hover {
              cursor: pointer;
              color:$link-color
            }
        }
    }
}
