@import '../../scss/index.scss';

.auth {

    color:$font-color; 
    //min-height:100%;
    top:10px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        
     
    height: 94.65vh;
    display: flex;
    align-items: center;

    &__box {
        min-height: 40vh;
        //background-color: $primary-color;
        z-index: 0;

        display: flex;
        align-items: center;
        flex-direction: column;

        position: absolute;
        top:400px;
        width: 1000px;
        height: 200px;

        
        margin:0 0 80px 0;

        
        align-items: center;

        &_title{
            h1{font-size: 2*$double-font-size;}
        }
        
    }
}