@import '../../../scss/index.scss';

.motion-nav{
    &__container {
        
        &__background {
            background-color: $navbar-color; // #fff;
            color:$font-color;
            position: absolute;
            top: 1px;;
            right: 0;
            bottom: 0;
            width: 270px;
        }
    }
}
