@import "./scss/index.scss";

.App {
    body {
        
        width: 100vw;
        height: 100vh;
        margin:0;
        padding:0; 
        
    }
    .not-user-render{
        color:$font-color; 
        background-image: url('./assets/imgs/background_resize.jpg');
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }

    
}