@import "./scss/index.scss";

.App {
    .not-user-render{
        color:$font-color; 
        background-image: url('./assets/imgs/background_resize.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}