$primary-color: #3D9EFF;
$primary-color-hover:#1679dd;
$primary-color-light: #f3f9fA;

$font-light: $primary-color-light;
$font-grey: #9e9e9e;
$font-dark: #000000;

$border-light-dark: $font-grey;
$border-grey-light: #3b3b3b;

$background-light: $primary-color-light;
$background-grey: $font-grey;
$background-dark: $font-dark;

$danger: #f00000;