@import '../../../scss/index.scss';

.login_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form_field{
        // font-size: $normal-font-size;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            width: auto;
            height: 100%;
        }
        button {
            width: 150px;
            height: 40px;
            top:100px;
            right:24px;
        }
    }
    p {
        margin-top: 90px;
        font-size:$small-font-size ;
        span {
            
            color: $font-color;
            text-decoration: underline;
            &:hover {
              cursor: pointer;
              color:$link-color
            }
        }
    }
}